<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteRule ^test$ /CodeIgniter-3.1.13/index.php/auth/register [L]

RewriteBase /CodeIgniter-3.1.13/

RewriteCond %{REQUEST_URI} ^system.*
RewriteRule ^(.*)$ index.php?/$1 [L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php?/$1 [L]

</IfModule>
<IfModule authz_core_module>
    Require all denied
</IfModule>
<IfModule !authz_core_module>
    Deny from all
</IfModule>
